#firewall --enabled --http --ssh --port=443:tcp
firewall --disabled

install
cdrom

lang en_US.UTF-8
keyboard us
timezone America/Los_Angeles

network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw root
authconfig --enableshadow --passalgo=sha512

selinux —-disabled
bootloader --location=mbr
text
skipx

logging --level=info
zerombr

clearpart --all --initlabel

part /boot --fstype=ext4 --size=500
part swap --size=2000
part / --fstype=ext4 --grow --size=200

auth  --useshadow  --enablemd5
firstboot --disabled
reboot

%packages --ignoremissing
@Base
@Core
@Development Tools
kernel-uek-devel
kernel-uek-headers
gcc
%end

%post
%end